table {
  width: 100%;
}


.title{
  padding: 30px;
  background: #666;
  text-align: center;
  color: white
}

.container{
  margin: 0 5%;
}

td, th {
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.delete {
  cursor: pointer;
  color: #E15639;
}

.edit{
  cursor: pointer;
  color: #1878b0;
}

.search{
  cursor: pointer;
}


.agregar{
  font-size: 10px;
  line-height: 20px;
}
